.Navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
}
.Navbar-left {
    display: flex;
    gap: 4rem;
    margin-left: 1rem;
}
.Navbar-right {
    display: flex;
    margin-right: 1rem;
}
