.Navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  justify-content: space-between;
}
.Navbar-left {
  display: flex;
  gap: 4rem;
  margin-left: 1rem;
  cursor: pointer;
}
.Navbar-right {
  display: flex;
  margin-right: 1rem;
  cursor: pointer;
}
